{%- comment -%}
  Accessible numbered pagination.
  Accepts: paginate (required, from {% paginate %})
{%- endcomment -%}
{%- if paginate.pages > 1 -%}
  <nav class="px-pagination" aria-label="{{ 'general.pagination.label' | t }}">
    {%- if paginate.previous -%}
      <a class="px-pagination__link px-pagination__arrow" href="{{ paginate.previous.url }}" rel="prev" aria-label="{{ 'general.pagination.previous' | t }}">
        {% render 'icon', name: 'chevron-right', class: 'px-flip' %}
      </a>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <a class="px-pagination__link" href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
      {%- elsif part.title == paginate.current_page -%}
        <span class="px-pagination__link px-pagination__link--current" aria-current="page">{{ part.title }}</span>
      {%- else -%}
        <span class="px-pagination__ellipsis">{{ part.title }}</span>
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
      <a class="px-pagination__link px-pagination__arrow" href="{{ paginate.next.url }}" rel="next" aria-label="{{ 'general.pagination.next' | t }}">
        {% render 'icon', name: 'chevron-right' %}
      </a>
    {%- endif -%}
  </nav>
{%- endif -%}
